<launch>
  <arg name="model" default="waffle_pi" />
  <arg name="world_name" default="$(find night_patrol_robot)/worlds/office_patrol_nov2.world" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <param name="robot_description"
         command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="robot_state_publisher"
        type="robot_state_publisher"
        name="robot_state_publisher"
        output="screen" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model turtlebot3_$(arg model) -x 0 -y 0 -z 0.01 -param robot_description"
        output="screen" />

</launch>
