<launch>
  <!--
    One-button entry point.
    mapping:=auto  -> map file이 없으면 맵핑, 있으면 저장 맵 순찰
    mapping:=true  -> 강제로 맵핑
    mapping:=false -> 강제로 저장 맵 순찰
  -->
  <arg name="mapping" default="auto" />
  <arg name="map_output" default="$(find night_patrol_robot)/maps/patrol_map" />
  <arg name="map_file" default="$(find night_patrol_robot)/maps/patrol_map.yaml" />
  <arg name="patrol_loop" default="true" />
  <arg name="patrol_wait_sec" default="5.0" />
  <arg name="use_rviz" default="true" />
  <arg name="use_camera_viewer" default="true" />
  <arg name="use_fire_detection" default="true" />
  <arg name="camera_view_topic" default="/fire_detection/debug_image" />
  <arg name="mapping_strategy" default="frontier" />
  <!-- rviz 설정 -->
  <arg name="rviz_config" default="$(find night_patrol_robot)/rviz/patrol.rviz" />
  <!-- 맵 설정 -->
  <arg name="world_name" default="$(find night_patrol_robot)/worlds/office_patrol_nov4.world" />
  <arg name="frontier_goal_timeout_sec" default="12.0" />
  <arg name="frontier_min_goal_distance" default="0.4" />
  <arg name="frontier_max_goal_distance" default="0.0" />
  <arg name="frontier_blacklist_radius" default="0.3" />
  <arg name="frontier_blacklist_ttl_sec" default="60.0" />
  <arg name="frontier_blacklist_max_size" default="30" />
  <arg name="frontier_clearance_cells" default="2" />
  <arg name="frontier_occupied_threshold" default="40" />
  <arg name="frontier_information_radius_cells" default="4" />
  <arg name="frontier_obstacle_penalty_radius_cells" default="3" />
  <arg name="frontier_information_gain_weight" default="1.0" />
  <arg name="frontier_distance_weight" default="0.25" />
  <arg name="frontier_obstacle_penalty_weight" default="0.25" />
  <arg name="frontier_min_cluster_size" default="8" />
  <arg name="frontier_size_weight" default="1.0" />
  <arg name="frontier_max_score_distance" default="4.0" />
  <arg name="exploration_complete_wait_sec" default="15.0" />

  <node pkg="night_patrol_robot"
        type="patrol_launch_supervisor.py"
        name="patrol_launch_supervisor"
        output="screen"
        required="true">
    <param name="mapping" value="$(arg mapping)" />
    <param name="map_output" value="$(arg map_output)" />
    <param name="map_file" value="$(arg map_file)" />
    <param name="patrol_loop" value="$(arg patrol_loop)" />
    <param name="patrol_wait_sec" value="$(arg patrol_wait_sec)" />
    <param name="use_rviz" value="$(arg use_rviz)" />
    <param name="use_camera_viewer" value="$(arg use_camera_viewer)" />
    <param name="use_fire_detection" value="$(arg use_fire_detection)" />
    <param name="camera_view_topic" value="$(arg camera_view_topic)" />
    <param name="mapping_strategy" value="$(arg mapping_strategy)" />
    <param name="rviz_config" value="$(arg rviz_config)" />
    <param name="world_name" value="$(arg world_name)" />
    <param name="frontier_goal_timeout_sec" value="$(arg frontier_goal_timeout_sec)" />
    <param name="frontier_min_goal_distance" value="$(arg frontier_min_goal_distance)" />
    <param name="frontier_max_goal_distance" value="$(arg frontier_max_goal_distance)" />
    <param name="frontier_blacklist_radius" value="$(arg frontier_blacklist_radius)" />
    <param name="frontier_blacklist_ttl_sec" value="$(arg frontier_blacklist_ttl_sec)" />
    <param name="frontier_blacklist_max_size" value="$(arg frontier_blacklist_max_size)" />
    <param name="frontier_clearance_cells" value="$(arg frontier_clearance_cells)" />
    <param name="frontier_occupied_threshold" value="$(arg frontier_occupied_threshold)" />
    <param name="frontier_information_radius_cells" value="$(arg frontier_information_radius_cells)" />
    <param name="frontier_obstacle_penalty_radius_cells" value="$(arg frontier_obstacle_penalty_radius_cells)" />
    <param name="frontier_information_gain_weight" value="$(arg frontier_information_gain_weight)" />
    <param name="frontier_distance_weight" value="$(arg frontier_distance_weight)" />
    <param name="frontier_obstacle_penalty_weight" value="$(arg frontier_obstacle_penalty_weight)" />
    <param name="frontier_min_cluster_size" value="$(arg frontier_min_cluster_size)" />
    <param name="frontier_size_weight" value="$(arg frontier_size_weight)" />
    <param name="frontier_max_score_distance" value="$(arg frontier_max_score_distance)" />
    <param name="exploration_complete_wait_sec" value="$(arg exploration_complete_wait_sec)" />
  </node>
</launch>
