<launch>
  <!--
    mapping:=true  -> 초기 1회 SLAM + 자동 탐색 + 맵 자동 저장
    mapping:=false -> 저장 맵 기반 waypoint 순찰
  -->
  <arg name="mapping" default="true" />
  <arg name="map_output" default="$(find night_patrol_robot)/maps/patrol_map" />
  <arg name="map_file" default="$(find night_patrol_robot)/maps/patrol_map.yaml" />
  <arg name="generated_waypoints_file" default="$(find night_patrol_robot)/maps/generated_patrol_waypoints.yaml" />
  <arg name="auto_generate_waypoints" default="true" />
  <arg name="generated_waypoint_count" default="6" />
  <arg name="generated_waypoint_spacing" default="1.8" />
  <arg name="generated_waypoint_min_spacing" default="1.6" />
  <arg name="generated_waypoint_clearance" default="0.35" />
  <arg name="patrol_loop" default="false" />
  <arg name="return_home" default="true" />
  <arg name="patrol_wait_sec" default="5.0" />
  <arg name="use_rviz" default="true" />
  <arg name="use_camera_viewer" default="true" />
  <arg name="use_fire_detection" default="true" />
  <arg name="camera_view_topic" default="/fire_detection/debug_image" />
  <arg name="mapping_strategy" default="frontier" />
  <arg name="rviz_config" default="$(find night_patrol_robot)/rviz/patrol.rviz" />
  <arg name="frontier_goal_timeout_sec" default="25.0" />
  <arg name="frontier_min_goal_distance" default="0.4" />
  <arg name="frontier_max_goal_distance" default="0.0" />
  <arg name="frontier_blacklist_radius" default="0.2" />
  <arg name="frontier_area_blacklist_radius" default="0.6" />
  <arg name="frontier_blacklist_ttl_sec" default="90.0" />
  <arg name="frontier_blacklist_max_size" default="30" />
  <arg name="frontier_clearance_cells" default="2" />
  <arg name="frontier_viewpoint_clearance_cells" default="3" />
  <arg name="frontier_viewpoint_require_known_space" default="false" />
  <arg name="frontier_occupied_threshold" default="40" />
  <arg name="frontier_information_radius_cells" default="4" />
  <arg name="frontier_obstacle_penalty_radius_cells" default="3" />
  <arg name="frontier_information_gain_weight" default="3.0" />
  <arg name="frontier_distance_weight" default="1.0" />
  <arg name="frontier_obstacle_penalty_weight" default="1.0" />
  <arg name="frontier_min_cluster_size" default="5" />
  <arg name="frontier_size_weight" default="0.5" />
  <arg name="frontier_max_score_distance" default="4.0" />
  <arg name="frontier_prefer_nearest" default="false" />
  <arg name="frontier_nearest_score_tolerance" default="1.5" />
  <arg name="frontier_local_radius" default="1.2" />
  <arg name="frontier_local_bonus" default="2.0" />
  <arg name="exploration_complete_wait_sec" default="45.0" />
  <arg name="frontier_viewpoint_min_distance_cells" default="3" />
  <arg name="frontier_viewpoint_max_distance_cells" default="10" />
  <arg name="frontier_max_goal_failures_before_blacklist" default="2" />
  <arg name="frontier_suppress_reached_frontier" default="false" />
  <arg name="frontier_completion_spin_attempts" default="2" />
  <arg name="frontier_completion_spin_angular_speed" default="0.45" />
  <arg name="frontier_minimum_mapping_time_sec" default="120.0" />
  <arg name="frontier_progress_timeout_sec" default="60.0" />
  <arg name="frontier_free_cell_growth_threshold" default="25" />
  <arg name="frontier_min_suppressed_for_completion" default="3" />
  <arg name="frontier_force_completion_after_repeated_failures" default="true" />
  <arg name="spawn_x" default="0.0" />
  <arg name="spawn_y" default="0.55" />
  <arg name="spawn_z" default="0.01" />
  <arg name="spawn_yaw" default="1.5708" />
  <arg name="initial_pose_x" default="0.0" />
  <arg name="initial_pose_y" default="0.55" />
  <arg name="initial_pose_yaw" default="1.5708" />
  <!-- 맵 설정 -->
  <!-- <arg name="world_name" default="$(find night_patrol_robot)/worlds/office_patrolv3.world" /> -->
  <arg name="world_name" default="$(find night_patrol_robot)/worlds/office_patrol_nov4.world" />
  <!-- <arg name="world_name" default="$(find night_patrol_robot)/worlds/office_fire_detection_test.world" /> -->

  <!-- 공통: 시뮬레이터 + 로봇 -->
  <include file="$(find night_patrol_robot)/launch/gazebo_robot.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="spawn_x" value="$(arg spawn_x)" />
    <arg name="spawn_y" value="$(arg spawn_y)" />
    <arg name="spawn_z" value="$(arg spawn_z)" />
    <arg name="spawn_yaw" value="$(arg spawn_yaw)" />
  </include>

  <node if="$(arg use_rviz)"
        pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(arg rviz_config)"
        output="screen" />

  <node if="$(arg use_camera_viewer)"
        pkg="image_view"
        type="image_view"
        name="camera_image_view"
        args="image:=$(arg camera_view_topic)"
        output="screen" />

  <node if="$(arg use_fire_detection)"
        pkg="night_patrol_robot"
        type="fire_detection_node.py"
        name="fire_detection_node"
        output="screen" />

  <!-- 초기 맵핑 모드 -->
  <group if="$(arg mapping)">
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
      <param name="base_frame" value="base_footprint" />
      <param name="odom_frame" value="odom" />
      <param name="map_update_interval" value="2.0" />
      <param name="maxUrange" value="6.0" />
      <param name="minimumScore" value="100" />
    </node>

    <rosparam command="load" file="$(find night_patrol_robot)/config/costmap_common.yaml" ns="move_base/global_costmap" />
    <rosparam command="load" file="$(find night_patrol_robot)/config/costmap_common.yaml" ns="move_base/local_costmap" />
    <rosparam command="load" file="$(find night_patrol_robot)/config/global_costmap.yaml" ns="move_base/global_costmap" />
    <rosparam command="load" file="$(find night_patrol_robot)/config/local_costmap.yaml" ns="move_base/local_costmap" />
    <rosparam command="load" file="$(find night_patrol_robot)/config/move_base.yaml" ns="move_base" />
    <node pkg="move_base" type="move_base" name="move_base" output="screen" />

    <node pkg="night_patrol_robot"
          type="auto_map_saver_node.py"
          name="auto_map_saver_node"
          output="screen">
      <param name="map_output" value="$(arg map_output)" />
      <param name="return_home_after_save" value="true" />
      <param name="home_goal_timeout_sec" value="45.0" />
      <rosparam param="home_approach_waypoint">
        x: 0.00
        y: 1.35
        yaw: -1.57
        wait_sec: 0.5
      </rosparam>
      <rosparam param="home_waypoint">
        x: 0.00
        y: 0.85
        yaw: 1.57
        wait_sec: 3.0
      </rosparam>
    </node>

    <group if="$(eval arg('mapping_strategy') == 'frontier')">
      <node pkg="night_patrol_robot"
            type="frontier_explore_node.py"
            name="frontier_explore_node"
            output="screen">
        <param name="goal_timeout_sec" value="$(arg frontier_goal_timeout_sec)" />
        <param name="min_goal_distance" value="$(arg frontier_min_goal_distance)" />
        <param name="max_goal_distance" value="$(arg frontier_max_goal_distance)" />
        <param name="blacklist_radius" value="$(arg frontier_blacklist_radius)" />
        <param name="frontier_blacklist_radius" value="$(arg frontier_area_blacklist_radius)" />
        <param name="blacklist_ttl_sec" value="$(arg frontier_blacklist_ttl_sec)" />
        <param name="blacklist_max_size" value="$(arg frontier_blacklist_max_size)" />
        <param name="frontier_clearance_cells" value="$(arg frontier_clearance_cells)" />
        <param name="viewpoint_clearance_cells" value="$(arg frontier_viewpoint_clearance_cells)" />
        <param name="viewpoint_require_known_space" value="$(arg frontier_viewpoint_require_known_space)" />
        <param name="occupied_threshold" value="$(arg frontier_occupied_threshold)" />
        <param name="information_radius_cells" value="$(arg frontier_information_radius_cells)" />
        <param name="obstacle_penalty_radius_cells" value="$(arg frontier_obstacle_penalty_radius_cells)" />
        <param name="information_gain_weight" value="$(arg frontier_information_gain_weight)" />
        <param name="distance_weight" value="$(arg frontier_distance_weight)" />
        <param name="obstacle_penalty_weight" value="$(arg frontier_obstacle_penalty_weight)" />
        <param name="min_frontier_cluster_size" value="$(arg frontier_min_cluster_size)" />
        <param name="frontier_size_weight" value="$(arg frontier_size_weight)" />
        <param name="max_score_distance" value="$(arg frontier_max_score_distance)" />
        <param name="prefer_nearest_frontier" value="$(arg frontier_prefer_nearest)" />
        <param name="nearest_frontier_score_tolerance" value="$(arg frontier_nearest_score_tolerance)" />
        <param name="local_frontier_radius" value="$(arg frontier_local_radius)" />
        <param name="local_frontier_bonus" value="$(arg frontier_local_bonus)" />
        <param name="exploration_complete_wait_sec" value="$(arg exploration_complete_wait_sec)" />
        <param name="viewpoint_min_distance_cells" value="$(arg frontier_viewpoint_min_distance_cells)" />
        <param name="viewpoint_max_distance_cells" value="$(arg frontier_viewpoint_max_distance_cells)" />
        <param name="max_goal_failures_before_blacklist" value="$(arg frontier_max_goal_failures_before_blacklist)" />
        <param name="suppress_reached_frontier" value="$(arg frontier_suppress_reached_frontier)" />
        <param name="completion_spin_attempts" value="$(arg frontier_completion_spin_attempts)" />
        <param name="completion_spin_angular_speed" value="$(arg frontier_completion_spin_angular_speed)" />
        <param name="minimum_mapping_time_sec" value="$(arg frontier_minimum_mapping_time_sec)" />
        <param name="progress_timeout_sec" value="$(arg frontier_progress_timeout_sec)" />
        <param name="free_cell_growth_threshold" value="$(arg frontier_free_cell_growth_threshold)" />
        <param name="min_suppressed_frontiers_for_completion" value="$(arg frontier_min_suppressed_for_completion)" />
        <param name="force_completion_after_repeated_failures" value="$(arg frontier_force_completion_after_repeated_failures)" />
      </node>
    </group>

    <group if="$(eval arg('mapping_strategy') == 'wall_follow')">
      <node pkg="night_patrol_robot"
            type="auto_explore_node.py"
            name="auto_explore_node"
            output="screen" />
    </group>
  </group>

  <!-- 저장 맵 순찰 모드 -->
  <group unless="$(arg mapping)">
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" />

    <node if="$(arg auto_generate_waypoints)"
          pkg="night_patrol_robot"
          type="generate_patrol_waypoints.py"
          name="generate_patrol_waypoints"
          output="screen">
      <param name="map_file" value="$(arg map_file)" />
      <param name="output_file" value="$(arg generated_waypoints_file)" />
      <param name="max_waypoints" value="$(arg generated_waypoint_count)" />
      <param name="sample_spacing" value="$(arg generated_waypoint_spacing)" />
      <param name="min_waypoint_spacing" value="$(arg generated_waypoint_min_spacing)" />
      <param name="obstacle_clearance" value="$(arg generated_waypoint_clearance)" />
      <param name="start_x" value="$(arg initial_pose_x)" />
      <param name="start_y" value="$(arg initial_pose_y)" />
      <param name="wait_sec" value="$(arg patrol_wait_sec)" />
    </node>

    <rosparam command="load" file="$(find night_patrol_robot)/config/amcl.yaml" ns="amcl" />
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <param name="initial_pose_x" value="$(arg initial_pose_x)" />
      <param name="initial_pose_y" value="$(arg initial_pose_y)" />
      <param name="initial_pose_a" value="$(arg initial_pose_yaw)" />
    </node>

    <rosparam command="load" file="$(find night_patrol_robot)/config/costmap_common.yaml" ns="move_base/global_costmap" />
    <rosparam command="load" file="$(find night_patrol_robot)/config/costmap_common.yaml" ns="move_base/local_costmap" />
    <rosparam command="load" file="$(find night_patrol_robot)/config/global_costmap.yaml" ns="move_base/global_costmap" />
    <rosparam command="load" file="$(find night_patrol_robot)/config/local_costmap.yaml" ns="move_base/local_costmap" />
    <rosparam command="load" file="$(find night_patrol_robot)/config/move_base.yaml" ns="move_base" />
    <node pkg="move_base" type="move_base" name="move_base" output="screen" />

    <node pkg="night_patrol_robot"
          type="patrol_waypoints_node.py"
          name="patrol_waypoints_node"
          output="screen">
      <param name="patrol_loop" value="$(arg patrol_loop)" />
      <param name="return_home" value="$(arg return_home)" />
      <param name="wait_after_goal_sec" value="$(arg patrol_wait_sec)" />
      <param name="waypoints_file" value="$(arg generated_waypoints_file)" />
      <param name="waypoints_file_wait_sec" value="20.0" />
      <param name="waypoints_file_require_fresh" value="$(arg auto_generate_waypoints)" />
      <rosparam param="fallback_waypoints">
        - {x: 0.00, y: 1.35, yaw: 1.57, wait_sec: 2.0}
        - {x: -1.00, y: 5.04, yaw: 1.01, wait_sec: 3.0}
        - {x: 0.48, y: 7.42, yaw: -1.23, wait_sec: 5.0}
        - {x: 1.29, y: 5.08, yaw: -1.56, wait_sec: 5.0}
        - {x: 1.32, y: 2.29, yaw: 2.30, wait_sec: 5.0}
      </rosparam>
      <rosparam param="home_approach_waypoint">
        x: 0.00
        y: 1.35
        yaw: -1.57
        wait_sec: 0.5
      </rosparam>
      <rosparam param="home_waypoint">
        x: 0.00
        y: 0.85
        yaw: 1.57
        wait_sec: 3.0
      </rosparam>
    </node>
  </group>
</launch>
